@CHARSET "UTF-8";

html, body {
	background-color: #ccc;
	text-align: left;
}

div#wrapper {
	margin: 20px auto;
	width: 850px;
	border: 1px solid #23A4FF;
	background-color: #fff;
}

div#infovis {
	background-color: #F2F2F2;
	margin: 0;
}

div#left-col {
	float: left;
	width: 250px;
}

div#inner-details {
	height: 566px;
	margin: 0;
	padding: 7px;
	overflow: scroll;
}

div#log {
	position: static;
	top: 0;
	background-color: #F2F2F2;
	height: 20px;
	color: #888;
	padding-left: 3px;
}